<div class="header">
    <div class="logo-container">
        <img src="finlogo.png" class="logo">
    </div>
    <div class="nav-container">
        <span (click)="this.service.navigateToHome()" class="nav">Home</span>
        <span class="nav" (mouseenter)="menuOpen = true" (mouseleave)="menuOpen = false">
            Calculators
            <div class="menu-container" *ngIf="menuOpen">            
                <!-- Mutual Fund Calculators -->
                <div class="menu-card">
                    <h3 class="menu-heading">Mutual Fund Calculators</h3>
                    <mat-card class="inner-card" [ngClass]="!isHomePage? 'blue-text':''">
                        <p>CAGR (Compound Annual Growth Rate)</p>
                        <p>SWP (Systematic Withdrawal Plan)</p>
                        <p>SIP (Systematic Investment Plan)</p>
                        <p>ELSS (Equity Linked Saving Scheme)</p>
                        <p>Step up SIP (Systematic Investment Plan)</p>
                    </mat-card>
                </div>

                <!-- Deposit Calculators -->
                <div class="menu-card">
                    <h3 class="menu-heading">Deposit Calculators</h3>
                    <mat-card class="inner-card" [ngClass]="!isHomePage? 'blue-text':''">
                        <p>Fixed Deposit</p>
                        <p>Recurring Deposit</p>
                        <p>Compound Interest</p>
                        <p>Simple Interest</p>
                        <p>SSY (Sukanya Samriddhi Yojana)</p>
                    </mat-card>
                </div>

                <!-- Retirement Calculators -->
                <div class="menu-card">
                    <h3 class="menu-heading">Retirement Calculators</h3>
                    <mat-card class="inner-card" [ngClass]="!isHomePage? 'blue-text':''">
                        <p>Retirement</p>
                        <p>PPF (Public Provident Fund)</p>
                        <p>NSC (National Savings Certificate)</p>
                        <p>EPF (Employee Provident Fund)</p>
                        <p>NPS (National Pension System)</p>
                        <p>APY (Atal Pension Yojana)</p>
                        <p>Gratuity</p>
                    </mat-card>
                </div>

                <!-- Miscellaneous -->
                <div class="menu-card">
                    <h3 class="menu-heading">Miscellaneous</h3>
                    <mat-card class="inner-card" [ngClass]="!isHomePage? 'blue-text':''">
                        <p>Income Tax</p>
                        <p>Inflation</p>
                        <p>HRA (House Rent Allowance)</p>
                    </mat-card>
                </div>

            </div>
        </span>
        <span class="nav">About</span>
        <span class="nav">Contact us</span>
        <span class="nav">FAQ</span>
    </div>
    <div class="nav-container mob">
        <mat-icon (click)="showhide()">menu</mat-icon>
    </div>
</div>
<div class="displaymenu" *ngIf="displaymenu">
    <div class="close-icon">
        <mat-icon (click)="showhide()">close</mat-icon>
    </div>
    <span class="nav" (click)="this.service.navigateToHome(); showhide()">Home</span>
    <span class="line"></span>
    <span class="nav" (click)="showhide()">Calculators</span>
    <span class="line"></span>
    <span class="nav" (click)="showhide()">About</span>
    <span class="line"></span>
    <span class="nav" (click)="showhide()">Contact us</span>
    <span class="line"></span>
    <span class="nav" (click)="showhide()">FAQ</span>
</div>
