<section >
    <div class="footer">
        <div class="pagedesc">
            <h5>Namma Finance</h5>
            <p>Namma finance, a financial calculator was created to simplify complex calculations, helping individuals make informed decisions on savings, investments, and loans. They provide quick, accurate results, making financial planning easier and more efficient for everyone.</p>
        </div>
        <div class="info">
            <h6>Resources</h6>
            <div class="resource-list">
                <span>Overview</span>
                <span>About Us</span>
                <span>Help Center</span>
            </div>
        </div>
        <div class="trycalc-container">
            <h5>Try It Today</h5>
            <p>Get started for free. Calculate your returns, savings and Investments as you need.</p>
            <div class="button-container">
                <button mat-fab extended (click)="scrollToCalculators()">Start today → </button>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>©2025 Namma Finance LLC.</p>
    </div>
</section>

