<section class="calculator">
    <div class="calc-header">
        <h1><span>Income Tax</span> Calculator</h1>
        <p>Estimate your income tax liability in just a few steps. Compare old vs. new regimes, apply deductions, and see how smart investments can reduce your taxes. Tailored for both salaried and self-employed individuals.</p>
    </div>
    <div class="calculator-container">
        <mat-card>
            <mat-card-content>
                <mat-tab-group #tabGroup>
                    <div class="form">
                        <mat-tab label="Basic Details">
                            <div class="singleinput-container">
                                <div class="tag">Assessment year</div>
                                <div class="input-container">
                                    <input type="text" value="2025-2026">
                                </div>
                            </div>  
                            <div class="singleinput-container">
                                <div class="tag">Age category</div>
                                <select class="dropdown" [formControl]="ageCategory">
                                    <option>Below 60</option>
                                    <option>60 to 80</option>
                                    <option>80 & above</option>
                                </select>
                            </div>
                        </mat-tab>
                        <mat-tab label="Income Details">
                            <div class="income-grid">
                                <div class="singleinput-container">
                                    <div class="tag">Income from salary <mat-icon matTooltip="Salary before reducing HRA, LTA, standard deductions & professional tax. If applicable, reduce leave encashment (max: 25L)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="incomeFromSalary">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Income from interest <mat-icon matTooltip="Includes interest from savings bank, deposits and other interest" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="incomeFromInterest">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Rental income <mat-icon matTooltip="Annual rent received on let-out property (Standard deduction @30% will be auto calculated)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="rentalIncome">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Income from digital assets <mat-icon matTooltip="Net Income from Digital Assets, taxed at 30%" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="digitalAssetsIncome">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Exempt allowances <mat-icon matTooltip="HRA, LTA, Professional Tax and any Other Exemptions" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="exemptAllowances">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Interest on home loan - Self occupied <mat-icon matTooltip="Interest paid on housing loan taken for self-occupied property" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="selfOccupiedIncome">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Interest on Home Loan- Let Out <mat-icon matTooltip="Interest paid on housing loan taken for rented/let-out property" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="letOutIncome">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Other income <mat-icon matTooltip="Includes taxable freelancing income or any other taxable income" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="otherIncome">
                                    </div>
                                </div>
                            </div>
                            <div class="proceed-container">
                                <a (click)="goToNextTab()">Continue</a>
                            </div>
                        </mat-tab>
                        <mat-tab label="Deductions">
                            <div class="income-grid">
                                <div class="singleinput-container">
                                    <div class="tag">Deductions - 80C <mat-icon matTooltip="Amount invested/paid in tax saving instruments such as PPF, ELSS mutual funds, LIC premium, etc. (max: 1.5L)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80C">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Deductions - 80D <mat-icon matTooltip="Medical premium & preventive health checkup fees paid for self & family including parents" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80D">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Interest on housing loan - 80EEA <mat-icon matTooltip="Amount of interest paid on housing loan sanctioned during FY 2022-2023 (max: 1.5L)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80EEA">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Employer’s contribution to NPS - 80CCD(2) <mat-icon matTooltip="Amount of contributions made by employer to the National Pension Scheme (NPS) under Section 80CCD(2)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80CCD2">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Interest from deposits - 80TTA <mat-icon matTooltip="Amount of interest income on deposits in savings account (includes fixed/recurring deposit interest in case of senior citizen)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80TTA">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Donations to charity - 80G <mat-icon matTooltip="Amount paid as donation to charitable insitutions or certain recognized funds" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80G">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Employee’s contribution to NPS - 80CCD <mat-icon matTooltip="Includes voluntary contribution to National Pension Scheme (NPS) under section 80CCD(1) and 80CCD(1B)" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="ded80CCD">
                                    </div>
                                </div>
                                <div class="singleinput-container">
                                    <div class="tag">Any other deduction <mat-icon matTooltip="Enter the deduction amount to be claimed under any other sections not listed above" matTooltipPosition="right">info_outline</mat-icon></div>
                                    <div class="input-container">
                                        <input type="text" [formControl]="otherdeductions">
                                    </div>
                                </div>
                            </div>
                            <div class="proceed-container">
                                <a>Calculate</a>
                            </div>
                        </mat-tab>   
                    </div>
                </mat-tab-group>
                
            </mat-card-content>
        </mat-card>

    </div>
    <div class="description">
        <div>
            <h3>What is Income Tax?</h3>
            <p>Income Tax is a direct tax that individuals and businesses are required to pay on the income they earn during a financial year. This income can come from salary, business profits, property rent, capital gains, or other sources. The amount of tax you pay depends on how much you earn and under which income bracket or tax slab you fall, as defined by the government.</p>
            <p>Every taxpayer is obligated to file an Income Tax Return (ITR) annually, which helps the government track income, prevent tax evasion, and fund essential services like infrastructure, education, healthcare, and national security.</p>
        </div>
        <div>
            <h3>How Does Income Tax Work?</h3>
            <p>Income Tax is calculated based on your gross income, after subtracting allowable deductions and exemptions. These can include investments under sections like 80C (PPF, ELSS, LIC), house rent, education loan interest, and more.
            <br>
            Once the taxable income is determined, it is matched against the government’s income slabs to calculate how much tax you owe.</p>            
            <p>For salaried employees, tax is usually deducted monthly from their salary as TDS (Tax Deducted at Source). For others, advance tax payments may be required.</p>   
        </div>
        <div>
            <h3>Types of tax systems</h3>
            <ul>
                <li><b>Old Regime:</b> Higher tax rates with the option to claim multiple deductions and exemptions.</li>
                <li><b>New Regime:</b> Lower tax rates with minimal deductions.</li>
            </ul>
        </div>
        <div>
            <h3>Benefits of Understanding and Paying Income Tax</h3>
            <ul>
                <li>Nation Building - Your tax contributions help fund the country’s development — roads, hospitals, schools, defence, and social welfare programs.</li>
                <li>Easy Loan Approvals - Filing regular ITRs boosts your financial credibility, which helps when applying for loans, credit cards, or even visas.</li>
                <li>Avoiding Penalties - Timely tax payments and filings help you avoid interest, penalties, and legal trouble with the tax authorities.</li>
                <li>Claiming Refunds - If excess tax is deducted or paid, filing your ITR allows you to claim a refund from the government.</li>
            </ul>
        </div>
        <div>
            <h3>Why we need Income Tax calculator ?</h3>
            <p>An Income Tax Calculator is a tool that helps you estimate how much tax you owe based on your:</p>
            <ul>
                <li>Annual income</li>
                <li>Deductions & exemptions</li>
                <li>Tax regime (old or new)</li>
                <li>Age and residency status</li>
            </ul>
            <p>It helps you plan better and avoid surprises at the time of filing returns.</p>
        </div>
        <div>
            <h3>Final Thoughts</h3>
            <p>In the hustle of life — earning, saving, investing — taxes might seem like a burden. But when done right, income tax is not just a financial obligation; it's a step toward responsible citizenship and smart financial planning.</p>
            <p>You don’t have to be a tax expert. You just need to be aware, organized, and honest. Whether you're a salaried employee, a freelancer, or a business owner, understanding income tax can empower you to make better decisions, avoid penalties, and contribute meaningfully to your country.</p>
            <p><b>Remember: it’s not just about how much you earn, but how well you manage and declare it.</b></p>
        </div>
    </div>
</section>