*{
    color: #043873;
}
.calculator{
    padding: 3rem 7rem;
}
h1, .chart h3{
    margin: 0;
    text-align: center;
}
h1 span{
    color: #007bff;
}
.calc-header p{
    padding: 1rem 0rem;
}
.calculator-container{
    display: flex;
    justify-content: center;
}
mat-card{
    background-color: #F0F5FF;
    width: fit-content;
}
mat-card-content{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
mat-slider{
    width: 100%;
}
.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}
input:focus, select:focus {
    border: 2px solid #043873 !important;
    outline: none !important; 
  }
.input-container input, .dropdown{
    width: 120px;
    border-radius: 40px;
    border: 1px solid;
    text-align: center;
    height: 40px;
}
select{
    border-radius: 40px;
}
.singleinput-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    column-gap: 15px;
}
.button-container{
    text-align: center;
    padding: 20px;
}

button{
    background-color: #4F9CF9;
    color: #FFFFFF;
    border: none;
    padding: 20px;
    font-size: medium;
    cursor: pointer;
}
.proceed-container{
    text-align: end;
    padding-top: 3rem;
    font-size: larger;
    font-weight: 600;
}
.proceed-container a{
    color: #007bff;
    cursor: pointer;
}
.chart{
    flex: 1;
    flex-shrink: unset;
}
.linechart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.textinsidechart{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 66%;
    font-size: large;
    font-weight: bold;
}
p, ul{
    font-size: large;
    font-weight: 200;
}
.toggle-container {
    width: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    border: 2px solid #ddd;
  }
  
  .toggle-button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
  }
  
  .toggle-button.active {
    background-color: #007bff;
  }
  
  .icon {
    color: gray;
    transition: color 0.3s ease-in-out;
  }
  
  .toggle-button.active .icon {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container mat-icon{
    position: relative;
    top: 5px;
    padding-right: 10px;
  }
  .hidden {
    display: none;
  }

@media (min-width:768px){
    h1{
        font-size: 2rem;
    }
    mat-card{
        min-width: 400px;
        padding: 1rem;
    }
    .form{
        min-width: 20rem;
    } 
    .toggleForm{
        position: absolute;
        right: 0;
        padding-right: 10px;
    }
    .table-container{
        width: 50rem;
        margin: 20px auto;
        display: flex;
        justify-content: center;
      }
    .income-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
    }
}
@media(max-width:768px){
    .calculator{
        padding: 2rem;
    }
    .calculator-container, button{
        font-size: 15px;
    }
    mat-card-content{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }       
    .input-container input{
        width: 100px;
    }
    .button-container{
        display: flex;
        justify-content:space-around;
    }
    .textinsidechart{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 145px;
        left: 105px;
        font-size: 15px;
        font-weight: 500;
    }
    .table-container,mat-tab-group{
        width: 20rem;
        margin: 20px auto;
        overflow-x: auto;
    }
    .singleinput-container .tag{
        max-width: 11rem;
    }
    .singleinput-container mat-icon{
        font-size: 20px;
    }
}

